<a href="https://colab.research.google.com/github/sonpvs/data-science/blob/main/phantich_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# Xác thực ổ đĩa Drive
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [48]:
# Đọc file dữ liệu từ Drive
df = pd.read_csv('drive/My Drive/Colab Notebooks/01. BDG/data_02.csv', index_col=None, error_bad_lines=False)
#df = pd.read_csv('data_02.csv')

In [49]:
#df.to_csv('drive/My Drive/Colab Notebooks/01. BDG/data_02.csv')
df.head()

   Unnamed: 0  Unnamed: 0.1  TUỔI  ...  NhomHocvan  NhomTuoiKH  NhomSocon
0           0             0    47  ...           0           0          1
1           1             1    37  ...           0           1          0
2           2             2    28  ...           1           0          1
3           3             3    45  ...           1           1          1
4           4             4    28  ...           1           1          1

[5 rows x 69 columns]

In [50]:
df = df.drop(df.columns[[0, 1]], axis=1)

In [51]:
df.head()

   TUỔI  HỌC VẤN  TUỔI KẾT HÔN  ...  NhomHocvan  NhomTuoiKH  NhomSocon
0    47        7            18  ...           0           0          1
1    37        5            19  ...           0           1          0
2    28        9            18  ...           1           0          1
3    45        9            23  ...           1           1          1
4    28       11            23  ...           1           1          1

[5 rows x 67 columns]

In [59]:
list_cot1 =["NhomTuoi", "NhomHocvan", "NhomTuoiKH", "HÔN NHÂN", "NhomSocon", "NGHỀ NGHIỆP", "THU NHẬP", "TB QUYỀN QUYẾT ĐỊNH SẢN XUẤT", "TB QUYẾT ĐỊNH TÍN DỤNG", "TB QUYẾT ĐỊNH CHI TIÊU GIA ĐÌNH", "TB QUYỀN SỞ HỮU TÀI SẢN", "TB QUYỀN THAM GIA XÃ HỘI", "TB QUYỀN SD THỜI GIAN", "TB BẤT BĐ GIỚI", "NHỊ PHÂN BĐG"]

In [60]:
df01 = pd.DataFrame(df,columns=list_cot1)

In [61]:
df01.head()

   NhomTuoi  NhomHocvan  ...  TB BẤT BĐ GIỚI  NHỊ PHÂN BĐG
0         3           0  ...            3.88           1.0
1         2           0  ...            2.67           0.0
2         1           1  ...            3.09           1.0
3         2           1  ...            4.62           1.0
4         1           1  ...            4.64           1.0

[5 rows x 15 columns]

In [73]:
df01.rename(columns={"NhomTuoi": "NHÓM TUỔI", "NhomHocvan": "NHÓM HỌC VẤN","NhomTuoiKH": "NHÓM TUỔI KẾT HÔN", "NhomSocon": "NHÓM SỐ CON"}, inplace=True)

In [74]:
df01.head()

   NHÓM TUỔI  NHÓM HỌC VẤN  ...  TB BẤT BĐ GIỚI  NHỊ PHÂN BĐG
0          3             0  ...            3.88           1.0
1          2             0  ...            2.67           0.0
2          1             1  ...            3.09           1.0
3          2             1  ...            4.62           1.0
4          1             1  ...            4.64           1.0

[5 rows x 15 columns]

In [81]:
df01.fillna(df01.mean)

      NHÓM TUỔI  NHÓM HỌC VẤN  ...  TB BẤT BĐ GIỚI  NHỊ PHÂN BĐG
0             3             0  ...            3.88             1
1             2             0  ...            2.67             0
2             1             1  ...            3.09             1
3             2             1  ...            4.62             1
4             1             1  ...            4.64             1
...         ...           ...  ...             ...           ...
1365          1             1  ...            2.92             0
1366          2             1  ...            4.34             1
1367          1             1  ...            5.31             1
1368          1             1  ...            4.42             1
1369          2             1  ...            3.34             1

[1370 rows x 15 columns]

In [64]:
from sklearn.metrics import mean_squared_error, mean_squared_log_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE

In [90]:
train, test = train_test_split(df01, test_size=0.3, shuffle=True)
training_features = ['NHÓM TUỔI','NHÓM HỌC VẤN','NHÓM TUỔI KẾT HÔN','HÔN NHÂN','NHÓM SỐ CON','NGHỀ NGHIỆP', 'THU NHẬP']
target = 'NHỊ PHÂN BĐG'
train_X = train[training_features]
train_Y = train[target]
test_X = test[training_features]
test_Y = test[target]

In [77]:
logreg = LogisticRegression()

In [85]:
#df01.isna
# using dropna() function    
df01.dropna(how = 'all')

      NHÓM TUỔI  NHÓM HỌC VẤN  ...  TB BẤT BĐ GIỚI  NHỊ PHÂN BĐG
0             3             0  ...            3.88           1.0
1             2             0  ...            2.67           0.0
2             1             1  ...            3.09           1.0
3             2             1  ...            4.62           1.0
4             1             1  ...            4.64           1.0
...         ...           ...  ...             ...           ...
1365          1             1  ...            2.92           0.0
1366          2             1  ...            4.34           1.0
1367          1             1  ...            5.31           1.0
1368          1             1  ...            4.42           1.0
1369          2             1  ...            3.34           1.0

[1370 rows x 15 columns]

In [92]:
train_Y = np.nan_to_num(train_Y)

In [93]:
rfe = RFE(logreg, 15)             
rfe = rfe.fit(train_X, train_Y)

In [100]:
print(rfe)

RFE(estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                 fit_intercept=True, intercept_scaling=1,
                                 l1_ratio=None, max_iter=100,
                                 multi_class='auto', n_jobs=None, penalty='l2',
                                 random_state=None, solver='lbfgs', tol=0.0001,
                                 verbose=0, warm_start=False),
    n_features_to_select=15, step=1, verbose=0)

In [99]:
test_X = np.nan_to_num(test_X)
test_Y = np.nan_to_num(test_Y)

score = rfe.score(test_X, test_Y)
print('Accuracy Score: ', score)

Accuracy Score:  0.8953771289537713

In [101]:
# Predict class labels on a test data
LR1_pred_labels = rfe.predict(test_X)

In [102]:
from sklearn.metrics import classification_report # for model evaluation metrics
print('--------------------------------------------------------')
# Look at classification report to evaluate the model
print(classification_report(test_Y, LR1_pred_labels))

--------------------------------------------------------
              precision    recall  f1-score   support

         0.0       0.88      0.71      0.78       110
         1.0       0.90      0.96      0.93       301

    accuracy                           0.90       411
   macro avg       0.89      0.84      0.86       411
weighted avg       0.89      0.90      0.89       411